.article__container{
   background: #042C54;
   margin-bottom: 154px;
   display: flex;
   flex-direction: column;
   max-width: 330px;
   margin-right: 30px;
   margin-left: 30px;
}
.img{
   width: 330px;
}
.a__text{
   font-family: Manrope;
font-style: normal;
font-weight: 800;
font-size: 25.11px;
line-height: 30px;

color: #FFFFFF;
}
.a__title{
   margin: 80px 25px 200px 25px;
}

@media screen and (max-width: 450px) {
   .article__container{
      background: #042C54;
      margin-bottom: 154px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 250px;
      margin-right: 10px;
      margin-left: 10px;
   }
   .img{
      width: 250px;
   }
}
@media screen and (max-width: 360px) {
   .article__container{
      background: #042C54;
      margin-bottom: 154px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 250px;
      margin-right: 4px;
      margin-left: 4px;
   }
   .img{
      width: 250px;
   }
   .a__title{
      margin: 80px 4px 200px 4px;
   }
}